{% extends 'base.html.twig' %} {% block title %}{{ parent() }} - ACCUEIL{% endblock %} {% block body %}
<div class="row justify-content-center">
    <div class="jumbotron">
        <h1 class="display-3 txtshadowsombre">Bienvenue sur la pointeuse !</h1>
        <p class="lead text-center txtshadowsombre">Calculez votre temps passé sur une mission.</p>
        <hr class="my-4 txtshadowsombre">
        <p class="text-center txtshadowsombre">Commencez par ajouter des clients et/ou des missions en cliquant sur les boutons :</p>
        <p class="lead text-center txtshadowsombre">
            <a class="btn btn-info btn-lg mr-2 txtshadowlight" href="{{ url('new_client') }}" role="button">Ajouter un client</a>
            <a class="btn btn-info btn-lg txtshadowlight" href="{{ url('new_mission') }}" role="button">Ajouter une mission</a>
        </p>
    </div>
</div>
{% endblock %}